{% extends 'base.html' %}

{% block content %}

{% if album.cover %}
<img class="album-images" src="{{ album.cover.url }}">
{% else %}
<p><img class="fav-album-images" src="/media/images/music_note.png"></p>
{% endif %}

<p class="bold">Artist: {{ album.artist }}</p>

<p class="bold">Album: {{ album.title }}</p> 

<p class="bold">Songs:</p>
    {% for song in album.songs.all %}
        <li>{{ song }}</li>
    {% endfor %}

<!-- <p class="bold">Also by this artist:</p>
    {% for album in artist.album %}
        <li>{{ album }}</li>
    {% endfor %} -->

<p class="bold">Created: {{ album.created_date }}</p>

<a href="{% url 'edit_album' pk=album.pk %}">EDIT</a>

<a href="{% url 'delete_album' pk=album.pk %}">DELETE</a>





{% endblock %}