{% extends 'base.html' %}

{% block content %}
<!-- <header>
    <div class="cassette-container">
        <img class="cassette" src="/media/images/cassette.png"></img>
    </div>
</header> -->
   
<div class="fav-album-container">
{% for fav in favorited %}
<div class="fav-album-container-inner">
    {% if fav.album.cover %}
    <img class="fav-album-images" src="{{ fav.album.cover.url }}">
    {% else %}
    <p><img class="fav-album-images" src="/media/images/music_note.png"></p>
    {% endif %}
<div class="fav-album-card">    
<p class="bold">Title: {{ fav.album.title }}</p>
<p class="bold">Artist: {{ fav.album.artist }}</p>
<p class="bold">Created At: {{ fav.album.created_date }}</p>
</div>
</div>
{% endfor %}
</div>
{% endblock %}